.gallery {
  --grid-layout-gap: 10px;
  --grid-column-count: 7;
  --grid-item--min-width: 100px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  margin-top: 20px;
  width: 100%;

  &-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: 15px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin: 0 20px;

    @media screen and (max-width: 1024px)  {
      height: calc(100vh - 365px);
    }
  }

  &-images_active + &-actions {
    display: flex;
  }

  &-actions {
    padding: 10px;
    display: none;
    justify-content: center;
  }
}
figure {
  img {
    width: 100%;
    height: calc(100% - 20px);
    object-fit: cover;
  }
}
.user-file {
  margin-top: 10px;
}