.gallery {
  --grid-layout-gap: 10px;
  --grid-column-count: 7;
  --grid-item--min-width: 100px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: 15px;
}
figure {
  img {
    width: 100%;
    height: calc(100% - 20px);
    object-fit: cover;
  }
}