@import "gallery";

.header {
  background: white;
  z-index: 100;
  position: relative;
  &-container {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    background: none;
    color: #6e6c8c;
    border: 1px solid #d9d6d6;
  }
  &-buttons {
    &_item {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &__link {
        color: #fff;
        cursor: pointer;
        font-weight: 700;
        transition: opacity 0.3s;
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}