#app {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
  overflow: hidden;


}
main {
  display: flex;
  background: #fdfdfd;

  //@media screen and (max-width: 1024px) {
  //  flex-flow: row wrap;
  //}
  @media screen and (min-width: 480px) {
    margin: 0 auto;
  }
}

@import "src/style/reset";
@import "src/style/header/style";
@import "src/style/common/style";